.sw_stepper .sw_step_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
.sw_stepper .sw_step_header .step_line {
  height: 2px;
  position: relative;
  background: black;
  top: -10px;
  border: 0;
  width: max(calc(100% - 185px), 50px);
}
.sw_stepper .sw_step_header .step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sw_stepper .sw_step_header .step_number {
  font-weight: bold;
  padding: 4px 10px;
  border: 1px solid;
  border-color: inherit;
  border-radius: 50%;
  width: min-content;
}
.sw_stepper .sw_step_header .step_label {
  font-weight: normal;
  width: max-content;
}
.sw_stepper .sw_step_header .completed .step_number {
  background-color: lightgreen;
}
.sw_stepper .sw_step_header .completed .step_label {
  color: lightgreen;
}
.sw_stepper .sw_step_header .active .step_number {
  background-color: var(--primary-color);
}
.sw_stepper .sw_step_header .active .step_label {
  color: var(--primary-color);
}

.sw_stepper .before_active_step_line {
  background-color: var(--primary-color) !important;
  height: 2px !important;
}
.sw_stepper .after_active_step_line {
  font-weight: bolder;
  height: 2px !important;
  background-color: var(--text-color-dark) !important;
}
