@import "../style.scss";
.sw-card {
  height: 100%;
  // box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
  //   rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &-header {
    height: 10%;
    font-weight: bold;
  }
  &-footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  &-body {
    height: 20%;
    overflow: hidden;
  }
  &-media {
    height: 60%;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
    }
  }

  > :not(.sw-card-media) {
    padding: 0 5px;
  }
}
