.swbutton {
  width: fit-content;
  padding: 5px;
  height: 25px;
  box-shadow: 10px 10px 10px inherit;
  display: flex;
  gap: 5px;
  border-radius: 5px;
  border-color: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--background-color);
  color: var(--text-color);
}
.swbutton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.swbutton .spinner_icon {
  -webkit-animation: spin 3s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  font-weight: bolder;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  background: transparent;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
