@import "../style.scss";
.sw-button {
  width: fit-content;
  padding: 5px;
  height: 25px;
  box-shadow: 10px 10px 10px inherit;
  display: flex;
  gap: 5px;
  border-radius: 5px;
  border-color: inherit;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
