.sw_star_rating {
  display: flex;
  gap: "2px";
}
.sw_star_rating > svg > path:hover {
  fill: var(--text-color);
}
.sw_star_rating > .completed > path {
  fill: var(--accent-color);
}

label {
  font-weight: 100;
}
