@import "../style.scss";
.sw-caraousel {
  .sw-slide {
    width: 75%;
    text-align: center;
  }

  .sw-caraousel-item {
    position: absolute;
    display: flex;
    bottom: 5px;
    &-active {
      > button {
        fill: lightgreen;
      }
    }
    > button {
      width: max-content;
      padding: 0;
      margin: 0;
      height: fit-content;
      border: 0;

      > svg {
        > path {
          fill: bisque;
        }
      }
    }
  }
}
