:root {
  /* Main Theme*/
  --primary-color: #3498db; /* A calming blue */
  --secondary-color: #f1c40f; /* A vibrant orange */
  --background-color: #f9f9f9; /* A light gray background */
  --text-color: #333; /* A dark gray text color */
  --accent-color: #2ecc71; /* A bright green accent color */
  --error-color: #e74c3c; /* A bright red error color */
  --success-color: #2ecc71; /* A bright green success color */
  --warning-color: #f1c40f; /* A vibrant orange warning color */

  /* Dark Theme */
  --primary-color-dark: #2e6da4; /* A darker shade of the primary color */
  --secondary-color-dark: #e67e73; /* A darker shade of the secondary color */
  --background-color-dark: #333; /* A dark gray background */
  --text-color-dark: #000; /* A black text color */
  --accent-color-dark: #27ae60; /* A darker shade of the accent color */
  --error-color-dark: #c0392b; /* A darker shade of the error color */
  --success-color-dark: #27ae60; /* A darker shade of the success color */
  --warning-color-dark: #e67e73; /* A darker shade of the warning color */

  /* Light Theme */
  --primary-color-light: #87ceeb; /* A lighter shade of the primary color */
  --secondary-color-light: #ffd700; /* A lighter shade of the secondary color */
  --background-color-light: #fff; /* A white background */
  --text-color-light: #666; /* A light gray text color */
  --accent-color-light: #34c759; /* A lighter shade of the accent color */
  --error-color-light: #f1a9a9; /* A lighter shade of the error color */
  --success-color-light: #34c759; /* A lighter shade of the success color */
  --warning-color-light: #ffd700; /* A lighter shade of the warning color */
}
@mixin theme(
  $primary-color,
  $secondary-color,
  $background-color,
  $text-color,
  $accent-color,
  $error-color,
  $success-color,
  $warning-color
) {
  * {
    background-color: $background-color;
    color: $text-color;
  }
  .error {
    * {
      color: $error-color;
    }
    color: $error-color;
  }

  input[type="checkbox"],
  input[type="radio"] {
    accent-color: $accent-color;
  }

  button.active {
    background-color: $accent-color;
  }
}
@mixin setTheme($theme-name) {
  @if $theme-name == dark {
    @include theme(
      var(--primary-color-dark),
      var(--secondary-color-dark),
      var(--background-color-dark),
      var(--text-color-dark),
      var(--accent-color-dark),
      var(--error-color-dark),
      var(--success-color-dark),
      var(--warning-color-dark)
    );
  } @else if $theme-name == light {
    @include theme(
      var(--primary-color-light),
      var(--secondary-color-light),
      var(--background-color-light),
      var(--text-color-light),
      var(--accent-color-light),
      var(--error-color-light),
      var(--success-color-light),
      var(--warning-color-light)
    );
  } @else {
    @include theme(
      var(--primary-color),
      var(--secondary-color),
      var(--background-color),
      var(--text-color),
      var(--accent-color),
      var(--error-color),
      var(--success-color),
      var(--warning-color)
    );
  }
}

* {
  @include setTheme(main);
}

body {
  padding: 0;
  margin: 0;
}

@mixin sw-list {
  ul {
    text-decoration: none;
    list-style: none;
    line-height: 1.5em;
    li {
      font-weight: 900;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.control-error {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.sw-side-bar {
  @include sw-list;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.center-items {
  justify-content: center;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-around {
  justify-content: space-around;
}

.flex-row {
  @extend .flex;
  flex-direction: row;
}
.flex-colum {
  @extend .flex;
  flex-direction: column;
}

.w-100 {
  width: 100%;
}

.sw-tabs {
  .sw-card {
    pre {
      height: 400px;
      overflow: auto;
    }
  }
}

select {
  width: 100%;
  height: 30px;
}
