



.sw-header-bar{
  width: 100%;
  height: 100px;
  position: fixed;
  top:0;
}


.menu_button_open{
  position:absolute;
  left:50px;
  top:50px;
}

.menu_button_close{
  position:absolute;
  left: 175px;
  top: 75px;
}

.sw-contents{
  position: fixed;
  top:100px;
}
.contents-with-menu-open{
  left:200px;
}
.contents-with-menu-close{
  left:50px;
}