.sw-contents {
  position: fixed;
  top: 100px;
}
.contents-with-menu-open {
  left: 200px;
  /* width: calc(100% - 220px); */
}
.contents-with-menu-close {
  left: 50;
  /* width: calc(100% - 70px); */
}
